.question-item{
    width: 100%;
    margin-top: 10px;

    .question-item-btn{
        width: 100%;
    }

    .question-card{
        margin-top: 10px;
        width: 90%;
        left: 5%;
    }
}