<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <!-- <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
</div>
<app-question-item 
  name="Fråga 1 - Hem för 5" 
  lat="343832"
  long="179034"
  question="Vilken av dessa gaser är inte en så kallad växthusgas? Koldioxid, Metan eller Kväve?">
</app-question-item>
<app-question-item
  name="Fråga 2 - Station för både buss och tåg" 
  lat="344483"
  long="179887"
  question="Vilken var Japans huvudstad före Tokeyo?">
</app-question-item>
<app-question-item 
  name="Fråga 3 - Gymnastiksal i skola många närvarande har gått på" 
  lat="345479"
  long="176067"
  question="Vilket djurs hopp får dig att tänka på Sveriges största vattenkraftverk?">
</app-question-item>
<app-question-item 
  name="Fråga 4 - Här kan man se känd kalle" 
  lat="346176"
  long="176282"
  question="Vilket är det minsta antalat drag man kan göra schack matt på i schack??">
</app-question-item>
<app-question-item 
  name="Fråga 5 - Här kanske man kan hitta en matkasse?" 
  lat="347815"
  long="175606"
  question="Vilken film-plot beskrivs här baklänges: 'En haj kräks upp så många männsikor att man måste öppna en badstrand'">
</app-question-item>
<app-question-item 
  name="Fråga 6 - En badstrand vid en sjö" 
  lat="348523"
  long="175509"
  question="Vad har Sylvester Stallone gjort flest av Rambo-filmer eeller Rocky-filmer? ">
</app-question-item>
<app-question-item 
  name="Fråga 7 - Här kan du hitta en lott" 
  lat="347702"
  long="173487"
  question="Vad heter Zeus motsvarighet i den romerska mytologin??">
</app-question-item>
<app-question-item 
  name="Fråga 8 - Slutet av en uppförsbacke genom skogen" 
  lat="345832"
  long="172430"
  question="Vilken är Europas NÄST största stad?">
</app-question-item>
<app-question-item 
  name="Fråga 9 - Vått torn av tegel" 
  lat="345484"
  long="171722"
  question="Vad heter den armerikanska tv-serien som utgår från romanserien 'Sagan om is och eld'?">
</app-question-item>
<app-question-item 
  name="Fråga 10 - Tänk Egypten, men samtidigt Italien" 
  lat="344130"
  long="169018"
  question="I vilket landskap ligger kolmårdens djurpark till största delen?">
</app-question-item>
<app-question-item 
  name="Fråga 11 - Tänk Italien igen, men närmare hem" 
  lat="343397"
  long="173921"
  question="Vad tillverkar företagen DICE, Blizzard och Fatshark?">
</app-question-item>
<app-question-item 
  name="Fråga 12 - Högst upp på 'den som föryngrar'" 
  lat="342998"
  long="177837"
  question="Utslagsfråga - Hur många gram saffran tror ni utgör en dödlig dos?">
</app-question-item>

<router-outlet></router-outlet>
